@import "../../styles/breakpoints.scss";

.layoutWrapper {
  background-color: #EDE8E1;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Noto Sans', sans-serif;
}

.layoutInner {
  width: 100%;
  max-width: 1200px;
  padding: 0 12px;

  @media (max-width: $mobileDown) {
    padding: 0 0;
  }

  @media (max-width: $mobileLargeDown) {
    padding: 0 6px;
  }

  @media (max-width: $tabletDown) {
    padding: 0 12px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content {

}
