$mobileDown: 369.99px;
$mobileUp: 370px;
$mobileLargeDown: 569.99px;
$mobileLargeUp: 570px;
$tabletDown: 959.99px;
$tabletUp: 960px;
$desktopDown: 1299.99px;
$desktopUp: 1300px;
$desktopLargeDown: 1499.99px;
$desktopLargeUp: 1500px;